# 构建产物
out/
build/
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
moc_*
ui_*
qrc_*
*.moc

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
Makefile

# Qt 自动生成
*_autogen/

# IDE
.vs/
.vscode/
*.user
*.pro.user*
.idea/

# 操作系统
Thumbs.db
.DS_Store

# 数据库
*.db
*.db-shm
*.db-wal

# vcpkg
vcpkg_installed/
