# Build artifacts
build/
debug/
release/
*.o
*.exe
Makefile
Makefile.Debug
Makefile.Release
.qmake.stash

# vcpkg
vcpkg_installed/
vcpkg-manifest-install.log
vcpkg-configuration.json

# Build system files
TankBattle.pro.user
